<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Friend_apply_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,4},{70,74}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{70,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Friend_list_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,4},{88,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{88,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Friend_list_icon_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,4},{64,64}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{64,64}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Friend_xiongdi_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,4},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>cd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,537},{108,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,196}}</string>
                <key>sourceSize</key>
                <string>{108,196}</string>
            </dict>
            <key>cd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,537},{134,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,217}}</string>
                <key>sourceSize</key>
                <string>{134,217}</string>
            </dict>
            <key>cd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,335},{106,196}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{106,196}}</string>
                <key>sourceSize</key>
                <string>{108,196}</string>
            </dict>
            <key>cl_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,537},{104,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,197}}</string>
                <key>sourceSize</key>
                <string>{104,197}</string>
            </dict>
            <key>cq_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,157},{98,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,165}}</string>
                <key>sourceSize</key>
                <string>{98,165}</string>
            </dict>
            <key>cq_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,537},{176,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,205}}</string>
                <key>sourceSize</key>
                <string>{176,205}</string>
            </dict>
            <key>cq_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,537},{98,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,198}}</string>
                <key>sourceSize</key>
                <string>{98,198}</string>
            </dict>
            <key>cq_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,537},{98,204}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{98,204}}</string>
                <key>sourceSize</key>
                <string>{98,208}</string>
            </dict>
            <key>cq_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,335},{48,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,176}}</string>
                <key>sourceSize</key>
                <string>{48,176}</string>
            </dict>
            <key>cq_cl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,537},{223,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,220}}</string>
                <key>sourceSize</key>
                <string>{223,220}</string>
            </dict>
            <key>dragonBattleEnter.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,157},{232,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,172}}</string>
                <key>sourceSize</key>
                <string>{232,172}</string>
            </dict>
            <key>pic_ziyuan_men.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,157},{124,148}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,148}}</string>
                <key>sourceSize</key>
                <string>{128,148}</string>
            </dict>
            <key>sanjichengduo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,157},{103,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,171}}</string>
                <key>sourceSize</key>
                <string>{103,171}</string>
            </dict>
            <key>sanjichengqiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,4},{125,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,147}}</string>
                <key>sourceSize</key>
                <string>{125,147}</string>
            </dict>
            <key>sanjichengqiang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,157},{75,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,163}}</string>
                <key>sourceSize</key>
                <string>{75,163}</string>
            </dict>
            <key>sanjijiantachengduo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,335},{108,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,174}}</string>
                <key>sourceSize</key>
                <string>{108,174}</string>
            </dict>
            <key>sijichengduo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,763},{128,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,232}}</string>
                <key>sourceSize</key>
                <string>{128,232}</string>
            </dict>
            <key>sijichengqiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,157},{97,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,167}}</string>
                <key>sourceSize</key>
                <string>{97,167}</string>
            </dict>
            <key>sijichengqiang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,157},{83,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,162}}</string>
                <key>sourceSize</key>
                <string>{83,162}</string>
            </dict>
            <key>sijichengqiang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,157},{83,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,162}}</string>
                <key>sourceSize</key>
                <string>{83,162}</string>
            </dict>
            <key>sijijiantaduo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,335},{130,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,188}}</string>
                <key>sourceSize</key>
                <string>{130,188}</string>
            </dict>
            <key>wall_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,4},{96,84}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{96,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>wall_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,4},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>wall_notice1.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,4},{182,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,114}}</string>
                <key>sourceSize</key>
                <string>{182,114}</string>
            </dict>
            <key>wall_notice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{27,22}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,22}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>wujichengduo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,763},{127,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,222}}</string>
                <key>sourceSize</key>
                <string>{127,222}</string>
            </dict>
            <key>wujichengqiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,335},{148,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,187}}</string>
                <key>sourceSize</key>
                <string>{148,187}</string>
            </dict>
            <key>wujichengqiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,335},{108,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,184}}</string>
                <key>sourceSize</key>
                <string>{108,184}</string>
            </dict>
            <key>wujichengqiang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,335},{107,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,185}}</string>
                <key>sourceSize</key>
                <string>{107,185}</string>
            </dict>
            <key>wujijiataduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,335},{129,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,189}}</string>
                <key>sourceSize</key>
                <string>{129,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Imperial_28.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60703f76e73805519efa9b95c4ab5831:1/1$</string>
            <key>textureFileName</key>
            <string>Imperial_28.pvr.ccz</string>
        </dict>
    </dict>
</plist>
