<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dragon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1242},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1235},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1191},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1171},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1161},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1148},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,1102},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1102},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1097},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1097},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1097},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1097},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1097},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1120},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,557},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,506},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,455},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,404},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,353},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,302},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>NewbieGuide_finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,72},{64,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,150}}</string>
                <key>sourceSize</key>
                <string>{64,150}</string>
            </dict>
            <key>bigtile_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{548,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,296}}</string>
                <key>sourceSize</key>
                <string>{548,296}</string>
            </dict>
            <key>bigtile_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,298},{382,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,261}}</string>
                <key>sourceSize</key>
                <string>{382,261}</string>
            </dict>
            <key>bigtile_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{395,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,292}}</string>
                <key>sourceSize</key>
                <string>{395,292}</string>
            </dict>
            <key>bigtile_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{493,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,287}}</string>
                <key>sourceSize</key>
                <string>{493,287}</string>
            </dict>
            <key>build_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,2},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>dragonCaveShine.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,896},{106,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,135}}</string>
                <key>sourceSize</key>
                <string>{106,135}</string>
            </dict>
            <key>fashugongren_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,1018},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fashugongren_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,934},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fashugongren_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,850},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fashugongren_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1030},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fashugongren_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,946},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fashugongren_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,821},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fashugongren_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,766},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fashugongren_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,737},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fashugongren_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,682},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fashugongren_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,862},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fashugongren_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,531},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fashugongren_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,447},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gary_cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,916},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,916},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,905},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,799},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1036},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,926},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,799},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,682},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,919},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,809},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,752},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,682},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,608},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>inner_risk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1097},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,1033},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1033},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1033},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1281},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1227},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1178},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1171},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1117},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1056},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1033},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1217},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1153},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1153},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1114},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1114},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1107},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1043},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>lock-Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,784},{95,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,74}}</string>
                <key>sourceSize</key>
                <string>{95,74}</string>
            </dict>
            <key>lock-trees_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,593},{187,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,250}}</string>
                <key>sourceSize</key>
                <string>{187,250}</string>
            </dict>
            <key>lock-trees_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>lock-trees_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1049},{113,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,133}}</string>
                <key>sourceSize</key>
                <string>{113,133}</string>
            </dict>
            <key>lock-trees_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,354},{43,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,82}}</string>
                <key>sourceSize</key>
                <string>{43,82}</string>
            </dict>
            <key>lock-trees_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,401},{42,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,82}}</string>
                <key>sourceSize</key>
                <string>{42,82}</string>
            </dict>
            <key>lock-wood_1 0.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1043},{77,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,60}}</string>
                <key>sourceSize</key>
                <string>{77,60}</string>
            </dict>
            <key>lock-wood_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,590},{33,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,41}}</string>
                <key>sourceSize</key>
                <string>{33,41}</string>
            </dict>
            <key>lock-wood_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,635},{16,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,11}}</string>
                <key>sourceSize</key>
                <string>{16,11}</string>
            </dict>
            <key>lock-wood_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,650},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>lock-wood_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,563},{34,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,23}}</string>
                <key>sourceSize</key>
                <string>{34,23}</string>
            </dict>
            <key>military_flag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,593},{73,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,175}}</string>
                <key>sourceSize</key>
                <string>{73,175}</string>
            </dict>
            <key>military_flag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,563},{115,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,341}}</string>
                <key>sourceSize</key>
                <string>{115,341}</string>
            </dict>
            <key>penquanRainbow.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,670},{157,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,135}}</string>
                <key>sourceSize</key>
                <string>{157,135}</string>
            </dict>
            <key>princess_badge.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,226},{124,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,63}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>princess_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1006},{46,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,108}}</string>
                <key>sourceSize</key>
                <string>{46,108}</string>
            </dict>
            <key>wall_inner.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,615},{118,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,84}}</string>
                <key>sourceSize</key>
                <string>{118,84}</string>
            </dict>
            <key>water.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,635},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Imperial_0.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f83a3b1ea051ffb142c8fa99d3e5d8f1:1/1$</string>
            <key>textureFileName</key>
            <string>Imperial_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
