<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dragon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,582},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,783},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,730},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,76},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,150},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,224},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,308},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,361},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,435},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,529},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,677},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,624},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,783},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,730},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,677},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,624},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,308},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,382},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>Dragon_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,476},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>NewbieGuide_finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{64,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,150}}</string>
                <key>sourceSize</key>
                <string>{64,150}</string>
            </dict>
            <key>build_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,86},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>dragonCaveShine.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,486},{106,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,135}}</string>
                <key>sourceSize</key>
                <string>{106,135}</string>
            </dict>
            <key>fashugongren_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,150},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fashugongren_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,318},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fashugongren_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,234},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fashugongren_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fashugongren_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,150},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fashugongren_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,476},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fashugongren_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,318},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fashugongren_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,234},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fashugongren_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fashugongren_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,150},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fashugongren_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fashugongren_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gary_cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,156},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,884},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,740},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,884},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,596},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,740},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,596},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,342},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,745},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,894},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,601},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,750},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>inner_risk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,550},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,634},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,76},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,150},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,234},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,308},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,402},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,476},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,560},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,234},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,86},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,86},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,402},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,402},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,402},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,86},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>lock-Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,337},{95,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,74}}</string>
                <key>sourceSize</key>
                <string>{95,74}</string>
            </dict>
            <key>lock-trees_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{187,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,250}}</string>
                <key>sourceSize</key>
                <string>{187,250}</string>
            </dict>
            <key>lock-trees_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>lock-trees_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,889},{113,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,133}}</string>
                <key>sourceSize</key>
                <string>{113,133}</string>
            </dict>
            <key>lock-trees_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,436},{43,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,82}}</string>
                <key>sourceSize</key>
                <string>{43,82}</string>
            </dict>
            <key>lock-trees_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,483},{42,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,82}}</string>
                <key>sourceSize</key>
                <string>{42,82}</string>
            </dict>
            <key>lock-wood_1 0.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,86},{77,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,60}}</string>
                <key>sourceSize</key>
                <string>{77,60}</string>
            </dict>
            <key>lock-wood_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,300},{33,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,41}}</string>
                <key>sourceSize</key>
                <string>{33,41}</string>
            </dict>
            <key>lock-wood_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,156},{16,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,11}}</string>
                <key>sourceSize</key>
                <string>{16,11}</string>
            </dict>
            <key>lock-wood_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,156},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>lock-wood_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,300},{34,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,23}}</string>
                <key>sourceSize</key>
                <string>{34,23}</string>
            </dict>
            <key>military_flag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{73,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,175}}</string>
                <key>sourceSize</key>
                <string>{73,175}</string>
            </dict>
            <key>military_flag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,341}}</string>
                <key>sourceSize</key>
                <string>{115,341}</string>
            </dict>
            <key>penquanRainbow.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,181},{157,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,135}}</string>
                <key>sourceSize</key>
                <string>{157,135}</string>
            </dict>
            <key>princess_badge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{124,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,63}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>princess_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,486},{46,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,108}}</string>
                <key>sourceSize</key>
                <string>{46,108}</string>
            </dict>
            <key>wall_inner.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,894},{118,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,84}}</string>
                <key>sourceSize</key>
                <string>{118,84}</string>
            </dict>
            <key>water.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,156},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Imperial_0.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3864112a38605adeb397c7fbd6f5827b:1/1$</string>
            <key>textureFileName</key>
            <string>Imperial_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
