<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Friend_apply_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{70,74}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{70,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Friend_list_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,4},{88,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{88,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Friend_list_icon_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,4},{64,64}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{64,64}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Friend_xiongdi_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,4},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>cd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,4},{108,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,196}}</string>
                <key>sourceSize</key>
                <string>{108,196}</string>
            </dict>
            <key>cd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,206},{134,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,217}}</string>
                <key>sourceSize</key>
                <string>{134,217}</string>
            </dict>
            <key>cd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,206},{106,196}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{106,196}}</string>
                <key>sourceSize</key>
                <string>{108,196}</string>
            </dict>
            <key>cl_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,206},{104,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,197}}</string>
                <key>sourceSize</key>
                <string>{104,197}</string>
            </dict>
            <key>cq_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,206},{98,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,165}}</string>
                <key>sourceSize</key>
                <string>{98,165}</string>
            </dict>
            <key>cq_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,429},{176,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,205}}</string>
                <key>sourceSize</key>
                <string>{176,205}</string>
            </dict>
            <key>cq_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,429},{98,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,198}}</string>
                <key>sourceSize</key>
                <string>{98,198}</string>
            </dict>
            <key>cq_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,429},{98,204}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{98,204}}</string>
                <key>sourceSize</key>
                <string>{98,208}</string>
            </dict>
            <key>cq_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,429},{48,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,176}}</string>
                <key>sourceSize</key>
                <string>{48,176}</string>
            </dict>
            <key>cq_cl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,640},{223,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,220}}</string>
                <key>sourceSize</key>
                <string>{223,220}</string>
            </dict>
            <key>dragonBattleEnter.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,640},{232,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,172}}</string>
                <key>sourceSize</key>
                <string>{232,172}</string>
            </dict>
            <key>pic_ziyuan_men.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,866},{124,148}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,148}}</string>
                <key>sourceSize</key>
                <string>{128,148}</string>
            </dict>
            <key>sanjichengduo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,866},{103,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,171}}</string>
                <key>sourceSize</key>
                <string>{103,171}</string>
            </dict>
            <key>sanjichengqiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,866},{125,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,147}}</string>
                <key>sourceSize</key>
                <string>{125,147}</string>
            </dict>
            <key>sanjichengqiang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,866},{75,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,163}}</string>
                <key>sourceSize</key>
                <string>{75,163}</string>
            </dict>
            <key>sanjijiantachengduo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1043},{108,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,174}}</string>
                <key>sourceSize</key>
                <string>{108,174}</string>
            </dict>
            <key>sijichengduo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1043},{128,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,232}}</string>
                <key>sourceSize</key>
                <string>{128,232}</string>
            </dict>
            <key>sijichengqiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1043},{97,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,167}}</string>
                <key>sourceSize</key>
                <string>{97,167}</string>
            </dict>
            <key>sijichengqiang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1043},{83,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,162}}</string>
                <key>sourceSize</key>
                <string>{83,162}</string>
            </dict>
            <key>sijichengqiang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1281},{83,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,162}}</string>
                <key>sourceSize</key>
                <string>{83,162}</string>
            </dict>
            <key>sijijiantaduo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1281},{130,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,188}}</string>
                <key>sourceSize</key>
                <string>{130,188}</string>
            </dict>
            <key>wujichengduo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1281},{127,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,222}}</string>
                <key>sourceSize</key>
                <string>{127,222}</string>
            </dict>
            <key>wujichengqiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1509},{148,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,187}}</string>
                <key>sourceSize</key>
                <string>{148,187}</string>
            </dict>
            <key>wujichengqiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1509},{108,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,184}}</string>
                <key>sourceSize</key>
                <string>{108,184}</string>
            </dict>
            <key>wujichengqiang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1509},{107,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,185}}</string>
                <key>sourceSize</key>
                <string>{107,185}</string>
            </dict>
            <key>wujijiataduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1702},{129,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,189}}</string>
                <key>sourceSize</key>
                <string>{129,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Imperial_28.pvr.ccz</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcce3a0fc5a9d20609cf75227bd907b1:1/1$</string>
            <key>textureFileName</key>
            <string>Imperial_28.pvr.ccz</string>
        </dict>
    </dict>
</plist>
