<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{1020,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,300}}</string>
                <key>sourceSize</key>
                <string>{1020,300}</string>
            </dict>
            <key>map108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{1020,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,300}}</string>
                <key>sourceSize</key>
                <string>{1020,300}</string>
            </dict>
            <key>map109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1020,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,300}}</string>
                <key>sourceSize</key>
                <string>{1020,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Imperial_107.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b91ff5be2b543d624bf729715b4fa721:1/1$</string>
            <key>textureFileName</key>
            <string>Imperial_107.pvr.ccz</string>
        </dict>
    </dict>
</plist>
