<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.40.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,4},{640,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,134}}</string>
                <key>sourceSize</key>
                <string>{640,134}</string>
            </dict>
            <key>1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1219},{248,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,81}}</string>
                <key>sourceSize</key>
                <string>{248,81}</string>
            </dict>
            <key>1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1502},{442,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,109}}</string>
                <key>sourceSize</key>
                <string>{442,109}</string>
            </dict>
            <key>1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2026},{99,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,18}}</string>
                <key>sourceSize</key>
                <string>{99,18}</string>
            </dict>
            <key>1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,1214},{234,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,72}}</string>
                <key>sourceSize</key>
                <string>{234,72}</string>
            </dict>
            <key>BG_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,862},{640,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,267}}</string>
                <key>sourceSize</key>
                <string>{640,267}</string>
            </dict>
            <key>BG_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,849},{323,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,86}}</string>
                <key>sourceSize</key>
                <string>{323,86}</string>
            </dict>
            <key>BG_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,856},{640,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,88}}</string>
                <key>sourceSize</key>
                <string>{640,88}</string>
            </dict>
            <key>BOX_BG_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,4},{640,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,206}}</string>
                <key>sourceSize</key>
                <string>{640,206}</string>
            </dict>
            <key>Businessman_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,848},{320,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,171}}</string>
                <key>sourceSize</key>
                <string>{320,171}</string>
            </dict>
            <key>Businessman_kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,1828},{308,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,59}}</string>
                <key>sourceSize</key>
                <string>{308,59}</string>
            </dict>
            <key>Businessman_tu.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,862},{640,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,274}}</string>
                <key>sourceSize</key>
                <string>{640,274}</string>
            </dict>
            <key>CardPattern.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,4},{162,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,160}}</string>
                <key>sourceSize</key>
                <string>{162,160}</string>
            </dict>
            <key>Daily-log_Exclamation.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,1473},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Daily-log_checkmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,623},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>Daily-log_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1736},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Daily-log_treasure.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,4},{211,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,166}}</string>
                <key>sourceSize</key>
                <string>{211,166}</string>
            </dict>
            <key>Daily-log_treasure1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,324},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>Daily-log_treasure2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,4},{105,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,57}}</string>
                <key>sourceSize</key>
                <string>{105,57}</string>
            </dict>
            <key>Daily-log_tu.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1508},{527,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,144}}</string>
                <key>sourceSize</key>
                <string>{527,144}</string>
            </dict>
            <key>Daily_icon_2duilie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,782},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Daily_icon_caijijiasu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,764},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Daily_icon_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,682},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Daily_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,664},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Daily_icon_vip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,582},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Daily_icon_zaobingjiasu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,564},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Items_baoxiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,221},{116,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,113}}</string>
                <key>sourceSize</key>
                <string>{116,113}</string>
            </dict>
            <key>Items_baoxiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,275},{114,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,106}}</string>
                <key>sourceSize</key>
                <string>{114,106}</string>
            </dict>
            <key>Items_bg_bend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1893},{132,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,82}}</string>
                <key>sourceSize</key>
                <string>{132,82}</string>
            </dict>
            <key>Items_bg_bend1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,1893},{142,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,53}}</string>
                <key>sourceSize</key>
                <string>{142,53}</string>
            </dict>
            <key>Items_bg_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,4},{613,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,44}}</string>
                <key>sourceSize</key>
                <string>{613,44}</string>
            </dict>
            <key>Items_bg_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,1214},{246,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,90}}</string>
                <key>sourceSize</key>
                <string>{246,90}</string>
            </dict>
            <key>Items_bg_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,1499},{307,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,45}}</string>
                <key>sourceSize</key>
                <string>{307,45}</string>
            </dict>
            <key>Items_bg_table1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,1468},{291,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,24}}</string>
                <key>sourceSize</key>
                <string>{291,24}</string>
            </dict>
            <key>Items_bg_table2.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1178},{273,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,35}}</string>
                <key>sourceSize</key>
                <string>{273,35}</string>
            </dict>
            <key>Items_bg_table3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,1174},{34,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,224}}</string>
                <key>sourceSize</key>
                <string>{34,224}</string>
            </dict>
            <key>Items_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,1893},{149,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,69}}</string>
                <key>sourceSize</key>
                <string>{149,69}</string>
            </dict>
            <key>Items_bt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1893},{150,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,76}}</string>
                <key>sourceSize</key>
                <string>{150,76}</string>
            </dict>
            <key>Items_decoration.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,1736},{55,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,77}}</string>
                <key>sourceSize</key>
                <string>{55,77}</string>
            </dict>
            <key>Items_icon_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1893},{148,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,149}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>Items_icon_kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,4},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>Items_icon_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,114},{103,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,105}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>Items_tips2.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,1893},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>Items_tips3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2042},{278,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,2}}</string>
                <key>sourceSize</key>
                <string>{278,2}</string>
            </dict>
            <key>Lottery_Card1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,1498},{210,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,224}}</string>
                <key>sourceSize</key>
                <string>{210,224}</string>
            </dict>
            <key>Lottery_Card2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,1819},{210,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,224}}</string>
                <key>sourceSize</key>
                <string>{210,224}</string>
            </dict>
            <key>Lottery_Frame_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,4},{635,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,88}}</string>
                <key>sourceSize</key>
                <string>{635,88}</string>
            </dict>
            <key>Lottery_Mithril.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,482},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Lottery_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,4},{128,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,102}}</string>
                <key>sourceSize</key>
                <string>{128,102}</string>
            </dict>
            <key>Lottery_baoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,464},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Lottery_bargaining-chip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,382},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Lottery_bargaining-chip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,364},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Lottery_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1508},{160,528}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,528}}</string>
                <key>sourceSize</key>
                <string>{160,528}</string>
            </dict>
            <key>Lottery_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{320,852}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,852}}</string>
                <key>sourceSize</key>
                <string>{320,852}</string>
            </dict>
            <key>Lottery_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1223},{318,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,273}}</string>
                <key>sourceSize</key>
                <string>{318,273}</string>
            </dict>
            <key>Lottery_bg_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,1728},{160,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,66}}</string>
                <key>sourceSize</key>
                <string>{160,66}</string>
            </dict>
            <key>Lottery_energy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,264},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Lottery_food.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,458},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Lottery_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,650},{193,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,155}}</string>
                <key>sourceSize</key>
                <string>{193,155}</string>
            </dict>
            <key>Lottery_pillar.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,1502},{298,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,385}}</string>
                <key>sourceSize</key>
                <string>{298,385}</string>
            </dict>
            <key>Lottery_rating1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,115},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>Lottery_speedUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,358},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Lottery_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,175},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Lottery_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1950},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Lottery_zhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1499},{299,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,80}}</string>
                <key>sourceSize</key>
                <string>{299,80}</string>
            </dict>
            <key>LuckDrawGlow.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1508},{314,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,512}}</string>
                <key>sourceSize</key>
                <string>{314,512}</string>
            </dict>
            <key>LuckDraw_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,225},{127,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,100}}</string>
                <key>sourceSize</key>
                <string>{127,100}</string>
            </dict>
            <key>LuckDraw_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,218},{127,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,100}}</string>
                <key>sourceSize</key>
                <string>{127,100}</string>
            </dict>
            <key>LuckDraw_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,112},{127,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,100}}</string>
                <key>sourceSize</key>
                <string>{127,100}</string>
            </dict>
            <key>Mall_Bag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,1498},{286,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,60}}</string>
                <key>sourceSize</key>
                <string>{286,60}</string>
            </dict>
            <key>Mall_Bag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2026},{286,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,16}}</string>
                <key>sourceSize</key>
                <string>{286,16}</string>
            </dict>
            <key>NewProp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,864},{93,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,92}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>NewProp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1473},{57,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,20}}</string>
                <key>sourceSize</key>
                <string>{57,20}</string>
            </dict>
            <key>UI_grey_line_lottery.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,4},{640,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,6}}</string>
                <key>sourceSize</key>
                <string>{640,6}</string>
            </dict>
            <key>banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,856},{640,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,187}}</string>
                <key>sourceSize</key>
                <string>{640,187}</string>
            </dict>
            <key>baoxiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,650},{200,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,162}}</string>
                <key>sourceSize</key>
                <string>{200,162}</string>
            </dict>
            <key>baoxiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,650},{200,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,162}}</string>
                <key>sourceSize</key>
                <string>{200,162}</string>
            </dict>
            <key>baoxiang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,650},{200,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,162}}</string>
                <key>sourceSize</key>
                <string>{200,162}</string>
            </dict>
            <key>bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,1502},{320,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,120}}</string>
                <key>sourceSize</key>
                <string>{320,120}</string>
            </dict>
            <key>bian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,848},{321,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,46}}</string>
                <key>sourceSize</key>
                <string>{321,46}</string>
            </dict>
            <key>cn_newicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,1736},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>daily_baoxiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,650},{200,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,162}}</string>
                <key>sourceSize</key>
                <string>{200,162}</string>
            </dict>
            <key>equip_dis_wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,1728},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>got.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,1893},{134,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,92}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,849},{368,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,123}}</string>
                <key>sourceSize</key>
                <string>{368,123}</string>
            </dict>
            <key>hdbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1950},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,264},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,444},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>kuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,340},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,1214},{248,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,54}}</string>
                <key>sourceSize</key>
                <string>{248,54}</string>
            </dict>
            <key>shop_bn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,170},{219,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,124}}</string>
                <key>sourceSize</key>
                <string>{219,124}</string>
            </dict>
            <key>shop_bn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,134},{219,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,124}}</string>
                <key>sourceSize</key>
                <string>{219,124}</string>
            </dict>
            <key>shop_bn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,4},{219,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,124}}</string>
                <key>sourceSize</key>
                <string>{219,124}</string>
            </dict>
            <key>shop_bn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,1825},{219,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,124}}</string>
                <key>sourceSize</key>
                <string>{219,124}</string>
            </dict>
            <key>shop_bn_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,623},{219,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,124}}</string>
                <key>sourceSize</key>
                <string>{219,124}</string>
            </dict>
            <key>shop_bn_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1498},{232,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,127}}</string>
                <key>sourceSize</key>
                <string>{232,127}</string>
            </dict>
            <key>shuijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,4},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>shuijingstone.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,4},{640,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,194}}</string>
                <key>sourceSize</key>
                <string>{640,194}</string>
            </dict>
            <key>wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,62},{65,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,87}}</string>
                <key>sourceSize</key>
                <string>{65,87}</string>
            </dict>
            <key>zhuangshi0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,1790},{169,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,29}}</string>
                <key>sourceSize</key>
                <string>{169,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_11.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:983cb64680a8a1ebb898980e489a38b1:1/1$</string>
            <key>textureFileName</key>
            <string>Common_11.pvr.ccz</string>
        </dict>
    </dict>
</plist>
