<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diguangtu.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,4},{178,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,74}}</string>
                <key>sourceSize</key>
                <string>{178,74}</string>
            </dict>
            <key>huangseditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,102},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>huiseditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,138},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>ico1070001.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,474},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1070002.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,443},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1070003.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,419},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1070004.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,419},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1070021.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,419},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1070022.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,419},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1070023.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,465},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1070024.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,465},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1071001.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,375},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1071002.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,344},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1071003.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,320},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1071004.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,320},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1071033.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,320},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1071034.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,320},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1072001.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,865},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1072002.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,765},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1072003.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,665},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1072004.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,565},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1072021.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,344},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1072022.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,465},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1072023.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,865},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1072024.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,765},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1073001.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,665},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1073002.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,565},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1073003.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,344},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1073004.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,465},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1073011.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,366},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1073012.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,267},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1073013.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,245},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1073014.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,168},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>jianbiantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,84},{160,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,2}}</string>
                <key>sourceSize</key>
                <string>{160,2}</string>
            </dict>
            <key>jiegukuangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,172},{29,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,52}}</string>
                <key>sourceSize</key>
                <string>{29,52}</string>
            </dict>
            <key>jiegukuangdizhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,172},{14,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,52}}</string>
                <key>sourceSize</key>
                <string>{14,52}</string>
            </dict>
            <key>redditiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,84},{168,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,155}}</string>
                <key>sourceSize</key>
                <string>{168,155}</string>
            </dict>
            <key>rongyuxunzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,310},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>rongyuxunzhang_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,245},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>shengxingdiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,62},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>soldier_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,62},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>tianfudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,4},{142,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,52}}</string>
                <key>sourceSize</key>
                <string>{142,52}</string>
            </dict>
            <key>yellowditiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,4},{336,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,310}}</string>
                <key>sourceSize</key>
                <string>{336,310}</string>
            </dict>
            <key>zongditiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{336,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,310}}</string>
                <key>sourceSize</key>
                <string>{336,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_510.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74bad9c2db3ad98dde4f14511ffaf5c9:1/1$</string>
            <key>textureFileName</key>
            <string>Common_510.pvr.ccz</string>
        </dict>
    </dict>
</plist>
