<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>503_bian.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,359},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>heng.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,359},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>hengtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,213},{10,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,42}}</string>
                <key>sourceSize</key>
                <string>{10,42}</string>
            </dict>
            <key>huabian.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,359},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>medal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,5},{202,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{202,202}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,213},{192,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,140}}</string>
                <key>sourceSize</key>
                <string>{192,140}</string>
            </dict>
            <key>nb_roleInfoBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,114},{640,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,285}}</string>
                <key>sourceSize</key>
                <string>{640,285}</string>
            </dict>
            <key>nb_roleInfoBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{291,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,103}}</string>
                <key>sourceSize</key>
                <string>{291,103}</string>
            </dict>
            <key>nb_roleinfoItemHuaWen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,407},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>nb_roleinfoItemHuaWen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,261},{9,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,22}}</string>
                <key>sourceSize</key>
                <string>{9,22}</string>
            </dict>
            <key>nb_roleinfoS9BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,407},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,359},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_503.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fee47fccb917ea6b6cbcfe4d19f9963:1/1$</string>
            <key>textureFileName</key>
            <string>Common_503.pvr.ccz</string>
        </dict>
    </dict>
</plist>
