<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_Buy_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,393},{190,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,54}}</string>
                <key>sourceSize</key>
                <string>{190,54}</string>
            </dict>
            <key>Common513_Items_tips2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,634},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>Common513_Items_tips3.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,4},{278,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,2}}</string>
                <key>sourceSize</key>
                <string>{278,2}</string>
            </dict>
            <key>Gold_01_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,396},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>Gold_02_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,416},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>Gold_Hot_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,682},{208,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,28}}</string>
                <key>sourceSize</key>
                <string>{208,28}</string>
            </dict>
            <key>Gold_Title_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,345},{634,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,42}}</string>
                <key>sourceSize</key>
                <string>{634,42}</string>
            </dict>
            <key>Gold_frame_01_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,584},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>Gold_frame_02_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,210},{110,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,52}}</string>
                <key>sourceSize</key>
                <string>{110,52}</string>
            </dict>
            <key>Gold_picture_frame_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,4},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Gold_picture_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,12},{616,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,246}}</string>
                <key>sourceSize</key>
                <string>{616,246}</string>
            </dict>
            <key>btn_blue_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,682},{152,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,68}}</string>
                <key>sourceSize</key>
                <string>{152,68}</string>
            </dict>
            <key>btn_green_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,601},{152,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,68}}</string>
                <key>sourceSize</key>
                <string>{152,68}</string>
            </dict>
            <key>button-lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,527},{152,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,68}}</string>
                <key>sourceSize</key>
                <string>{152,68}</string>
            </dict>
            <key>button-lingquhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,453},{152,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,68}}</string>
                <key>sourceSize</key>
                <string>{152,68}</string>
            </dict>
            <key>common513_youhuaBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,484},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>egg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,94},{116,110}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{116,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>egg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,268},{106,122}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{106,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>egglh_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,557},{84,24}}</string>
                <key>offset</key>
                <string>{-52,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,101},{84,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>egglh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,393},{92,50}}</string>
                <key>offset</key>
                <string>{-48,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,103},{92,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>egglh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,453},{36,48}}</string>
                <key>offset</key>
                <string>{-25,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,43},{36,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>egglh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,507},{30,44}}</string>
                <key>offset</key>
                <string>{-17,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,51},{30,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>egglh_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,12},{76,18}}</string>
                <key>offset</key>
                <string>{49,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,83},{76,18}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>egglh_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,444},{96,34}}</string>
                <key>offset</key>
                <string>{52,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,82},{96,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>egglh_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,396},{96,42}}</string>
                <key>offset</key>
                <string>{47,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,90},{96,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exchangeBtnPackage_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,682},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>fresh_recharge_baoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,896},{434,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,124}}</string>
                <key>sourceSize</key>
                <string>{434,124}</string>
            </dict>
            <key>guangbotiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,150},{638,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,189}}</string>
                <key>sourceSize</key>
                <string>{638,189}</string>
            </dict>
            <key>guanggaotu.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{640,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,140}}</string>
                <key>sourceSize</key>
                <string>{640,140}</string>
            </dict>
            <key>yihuodedi.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,453},{166,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,62}}</string>
                <key>sourceSize</key>
                <string>{166,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_513.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1a91f3e1e03a31d2d003673b8c7e46c:1/1$</string>
            <key>textureFileName</key>
            <string>Common_513.pvr.ccz</string>
        </dict>
    </dict>
</plist>
