<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_Skill_Blue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,650},{216,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,73}}</string>
                <key>sourceSize</key>
                <string>{216,73}</string>
            </dict>
            <key>Btn_Skill_Blue_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,650},{216,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,73}}</string>
                <key>sourceSize</key>
                <string>{216,73}</string>
            </dict>
            <key>Btn_Skill_Green_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,650},{216,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,73}}</string>
                <key>sourceSize</key>
                <string>{216,73}</string>
            </dict>
            <key>Btn_Skill_Green_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,650},{216,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,73}}</string>
                <key>sourceSize</key>
                <string>{216,73}</string>
            </dict>
            <key>Btn_Skill_Red_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,650},{216,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,73}}</string>
                <key>sourceSize</key>
                <string>{216,73}</string>
            </dict>
            <key>Btn_Skill_Red_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,650},{216,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,73}}</string>
                <key>sourceSize</key>
                <string>{216,73}</string>
            </dict>
            <key>Cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,652},{250,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,173}}</string>
                <key>sourceSize</key>
                <string>{250,173}</string>
            </dict>
            <key>NEW_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,4},{640,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,100}}</string>
                <key>sourceSize</key>
                <string>{640,100}</string>
            </dict>
            <key>ReplayKit_Stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,111},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>Setting_Lobi_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,82},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>UI_Label_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,4},{640,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,94}}</string>
                <key>sourceSize</key>
                <string>{640,94}</string>
            </dict>
            <key>UI_UseSkill_picture_blackwhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,4},{640,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,125}}</string>
                <key>sourceSize</key>
                <string>{640,125}</string>
            </dict>
            <key>UI_snow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,966},{78,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,53}}</string>
                <key>sourceSize</key>
                <string>{78,53}</string>
            </dict>
            <key>UI_yizengsong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,4},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>activitybox_newuser_ad_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,4},{583,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,481}}</string>
                <key>sourceSize</key>
                <string>{583,481}</string>
            </dict>
            <key>alliance_dail_quest_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,366},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>alliance_dail_quest_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,645},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>alliance_dail_tool_refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,766},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>alliance_dail_tool_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,204},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>alliance_leader_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,981},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>board.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,650},{220,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,40}}</string>
                <key>sourceSize</key>
                <string>{220,40}</string>
            </dict>
            <key>build_btn_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,781},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>building_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,127},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>c3_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,872},{142,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,10}}</string>
                <key>sourceSize</key>
                <string>{142,10}</string>
            </dict>
            <key>c3_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,652},{256,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,60}}</string>
                <key>sourceSize</key>
                <string>{256,60}</string>
            </dict>
            <key>c3_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,872},{142,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,10}}</string>
                <key>sourceSize</key>
                <string>{142,10}</string>
            </dict>
            <key>c3_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,876},{142,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,10}}</string>
                <key>sourceSize</key>
                <string>{142,10}</string>
            </dict>
            <key>chat_country_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,422},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>chat_country_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,545},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>chat_notice_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,990},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>chat_notice_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,204},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_notice_bgc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,708},{30,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,52}}</string>
                <key>sourceSize</key>
                <string>{30,52}</string>
            </dict>
            <key>chat_notice_bgc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,708},{30,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,86}}</string>
                <key>sourceSize</key>
                <string>{30,86}</string>
            </dict>
            <key>chat_notice_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,4},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>chat_notice_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,127},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>chuzheng_frame01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{642,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,201}}</string>
                <key>sourceSize</key>
                <string>{642,201}</string>
            </dict>
            <key>circle_bg_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,872},{138,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,136}}</string>
                <key>sourceSize</key>
                <string>{138,136}</string>
            </dict>
            <key>color_c_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,475},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>color_c_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,915},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>color_c_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,915},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>color_c_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,757},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>color_c_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,649},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>common3Google_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,468},{96,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,67}}</string>
                <key>sourceSize</key>
                <string>{96,67}</string>
            </dict>
            <key>d_icon_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,4},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>d_icon_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,199},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>d_icon_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,322},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>d_icon_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,199},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>d_icon_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,570},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>d_icon_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,243},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>d_icon_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,4},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>d_icon_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,867},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>d_icon_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,744},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>d_icon_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,585},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>d_icon_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,888},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>d_icon_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,765},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>dragon_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,981},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>duanwei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,104},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>duanwei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,104},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>duanwei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,4},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>duanwei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,4},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>duanwei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,197},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>duanwei_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,322},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>fresh_recharge_rukou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,693},{114,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,92}}</string>
                <key>sourceSize</key>
                <string>{114,92}</string>
            </dict>
            <key>gp_achievements.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,981},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>gp_leaderboards.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,981},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>icon_clause.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,445},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>icon_google-play_.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,908},{96,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,67}}</string>
                <key>sourceSize</key>
                <string>{96,67}</string>
            </dict>
            <key>jj_bt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,725},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>jj_btn_qiansan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,990},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>kingAppointOffice_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,908},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>mail_princessIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,872},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>nb_cmm_gohome.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,593},{123,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,126}}</string>
                <key>sourceSize</key>
                <string>{123,126}</string>
            </dict>
            <key>nb_cmm_goworld.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,872},{122,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,135}}</string>
                <key>sourceSize</key>
                <string>{122,135}</string>
            </dict>
            <key>nb_main_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,4},{640,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,154}}</string>
                <key>sourceSize</key>
                <string>{640,154}</string>
            </dict>
            <key>nb_main_quest_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,4},{465,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,52}}</string>
                <key>sourceSize</key>
                <string>{465,52}</string>
            </dict>
            <key>nb_skill_right_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,593},{50,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,154}}</string>
                <key>sourceSize</key>
                <string>{50,154}</string>
            </dict>
            <key>newTips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,593},{182,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,114}}</string>
                <key>sourceSize</key>
                <string>{182,114}</string>
            </dict>
            <key>new_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,652},{323,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,65}}</string>
                <key>sourceSize</key>
                <string>{323,65}</string>
            </dict>
            <key>notice_close_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,876},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>princessTalkBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,872},{128,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,133}}</string>
                <key>sourceSize</key>
                <string>{128,133}</string>
            </dict>
            <key>res_bind_enter_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,545},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>rongyuxunzhang_UP.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,178},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>settingTranslateImprove_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,666},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>soldier_star_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,981},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>tile_pop_icon35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,913},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>title_level_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,725},{94,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,34}}</string>
                <key>sourceSize</key>
                <string>{94,34}</string>
            </dict>
            <key>tool_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,813},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>ui_food_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,445},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>ui_iron_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,566},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>ui_renwu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,593},{416,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,60}}</string>
                <key>sourceSize</key>
                <string>{416,60}</string>
            </dict>
            <key>ui_renwu_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,593},{416,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,10}}</string>
                <key>sourceSize</key>
                <string>{416,10}</string>
            </dict>
            <key>ui_stone_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,466},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>ui_wood_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,366},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>world_ziyuantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,4},{640,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,82}}</string>
                <key>sourceSize</key>
                <string>{640,82}</string>
            </dict>
            <key>yellow_btn_texuere.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,781},{179,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,76}}</string>
                <key>sourceSize</key>
                <string>{179,76}</string>
            </dict>
            <key>zhenying_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,111},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>zhenying_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,914},{61,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_3.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0574d3d1f4f881bc3dc358ca6105f8d0:1/1$</string>
            <key>textureFileName</key>
            <string>Common_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
