<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BD_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{768,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,768}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>BD_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1571},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>BD_servername.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,619},{253,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,29}}</string>
                <key>sourceSize</key>
                <string>{253,29}</string>
            </dict>
            <key>flag_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,878},{3,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,46}}</string>
                <key>sourceSize</key>
                <string>{3,46}</string>
            </dict>
            <key>loading_revolve.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1371},{322,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,322}}</string>
                <key>sourceSize</key>
                <string>{322,322}</string>
            </dict>
            <key>path_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1273},{301,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,92}}</string>
                <key>sourceSize</key>
                <string>{301,92}</string>
            </dict>
            <key>path_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,993},{135,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,443}}</string>
                <key>sourceSize</key>
                <string>{135,443}</string>
            </dict>
            <key>path_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1699},{115,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,292}}</string>
                <key>sourceSize</key>
                <string>{115,292}</string>
            </dict>
            <key>path_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,619},{61,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,205}}</string>
                <key>sourceSize</key>
                <string>{61,205}</string>
            </dict>
            <key>path_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,778},{144,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,260}}</string>
                <key>sourceSize</key>
                <string>{144,260}</string>
            </dict>
            <key>path_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1134},{159,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,429}}</string>
                <key>sourceSize</key>
                <string>{159,429}</string>
            </dict>
            <key>path_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1008},{90,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,305}}</string>
                <key>sourceSize</key>
                <string>{90,305}</string>
            </dict>
            <key>path_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,1025},{71,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,329}}</string>
                <key>sourceSize</key>
                <string>{71,329}</string>
            </dict>
            <key>path_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,928},{74,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,275}}</string>
                <key>sourceSize</key>
                <string>{74,275}</string>
            </dict>
            <key>path_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,778},{88,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,500}}</string>
                <key>sourceSize</key>
                <string>{88,500}</string>
            </dict>
            <key>path_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,686},{333,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,187}}</string>
                <key>sourceSize</key>
                <string>{333,187}</string>
            </dict>
            <key>path_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1299},{408,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,166}}</string>
                <key>sourceSize</key>
                <string>{408,166}</string>
            </dict>
            <key>path_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,872},{479,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,115}}</string>
                <key>sourceSize</key>
                <string>{479,115}</string>
            </dict>
            <key>path_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1360},{294,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,65}}</string>
                <key>sourceSize</key>
                <string>{294,65}</string>
            </dict>
            <key>path_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,484},{240,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,129}}</string>
                <key>sourceSize</key>
                <string>{240,129}</string>
            </dict>
            <key>path_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1699},{343,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,115}}</string>
                <key>sourceSize</key>
                <string>{343,115}</string>
            </dict>
            <key>path_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1123},{353,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,167}}</string>
                <key>sourceSize</key>
                <string>{353,167}</string>
            </dict>
            <key>path_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1104},{301,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,163}}</string>
                <key>sourceSize</key>
                <string>{301,163}</string>
            </dict>
            <key>server_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,324},{241,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,154}}</string>
                <key>sourceSize</key>
                <string>{241,154}</string>
            </dict>
            <key>server_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,164},{241,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,154}}</string>
                <key>sourceSize</key>
                <string>{241,154}</string>
            </dict>
            <key>server_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,4},{241,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,154}}</string>
                <key>sourceSize</key>
                <string>{241,154}</string>
            </dict>
            <key>server_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,324},{241,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,154}}</string>
                <key>sourceSize</key>
                <string>{241,154}</string>
            </dict>
            <key>server_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,164},{241,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,154}}</string>
                <key>sourceSize</key>
                <string>{241,154}</string>
            </dict>
            <key>server_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,4},{241,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,154}}</string>
                <key>sourceSize</key>
                <string>{241,154}</string>
            </dict>
            <key>world_zhandou-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1025},{92,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,169}}</string>
                <key>sourceSize</key>
                <string>{92,169}</string>
            </dict>
            <key>world_zhanling.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1471},{94,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,109}}</string>
                <key>sourceSize</key>
                <string>{94,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_10.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9af8f36a446b9c10e79100f1266a813f:1/1$</string>
            <key>textureFileName</key>
            <string>Common_10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
