<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50503.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,95},{79,81}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{79,81}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>603103.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,541},{81,81}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{81,81}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>604301.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,954},{69,55}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,32},{69,55}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>604403.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,174},{79,79}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{79,79}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>604404.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,170},{79,79}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{79,79}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>604405.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,194},{77,83}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{77,83}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>604406.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,936},{90,84}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{90,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>604407.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,443},{92,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>604603.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,402},{79,85}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{79,85}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>650306.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,89},{79,79}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{79,79}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>650403.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,936},{83,95}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{83,95}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>650404.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,762},{105,95}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{105,95}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>652101.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,4},{81,75}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,27},{81,75}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>652301.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,293},{79,83}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{79,83}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_def_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,309},{87,83}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{87,83}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_def_a_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,259},{77,79}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,23},{77,79}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_def_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,628},{91,87}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{91,87}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_def_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,725},{91,83}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{91,83}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_def_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,4},{85,93}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{85,93}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_def_a_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,103},{83,93}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{83,93}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_def_a_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,873},{95,105}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{95,105}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_def_a_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,4},{85,85}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{85,85}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_def_a_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,210},{83,93}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{83,93}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_def_a_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,237},{97,99}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{97,99}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_dev_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,447},{99,91}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{99,91}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_dev_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,541},{81,87}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,18},{81,87}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_dev_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,103},{85,85}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{85,85}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_dev_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,4},{93,85}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,17},{93,85}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_dev_a_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,202},{85,85}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{85,85}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_dev_a_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,4},{81,79}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{81,79}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_dev_a_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,85},{79,79}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{79,79}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_equip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,651},{99,107}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{99,107}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_equip_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,762},{95,105}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{95,105}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_equip_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,340},{97,89}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{97,89}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_equip_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,847},{101,101}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{101,101}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_equip_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,800},{109,103}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{109,103}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_equip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,800},{109,105}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{109,105}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_equip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,651},{105,99}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{105,99}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_equip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,130},{101,99}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{101,99}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_equip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,342},{91,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{91,99}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_equip_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,404},{97,107}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{97,107}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_equip_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,237},{91,97}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{91,97}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_equip_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,517},{97,105}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{97,105}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_equip_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,538},{101,107}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{101,107}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_mil_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,4},{114,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{114,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>science_mil_a_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,810},{110,120}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{110,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>science_mil_a_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,272},{128,104}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{128,104}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>science_mil_a_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,138},{116,128}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{116,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>science_mil_a_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,272},{126,122}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{126,122}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>science_mil_a_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,280},{108,132}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{108,132}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>science_mil_a_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,684},{110,120}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{110,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>science_mil_a_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,628},{102,104}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{102,104}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>science_mil_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,4},{116,128}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{116,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>science_mil_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,406},{126,122}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{126,122}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>science_mil_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,142},{108,132}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{108,132}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>science_mil_a_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,130},{110,120}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{110,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>science_mil_a_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,684},{106,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{106,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>science_mil_a_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,418},{116,128}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{116,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>science_mil_a_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,552},{126,122}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{126,122}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>science_mil_a_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{108,132}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{108,132}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>science_res_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,4},{93,81}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{93,81}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_res_a_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,915},{105,107}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{105,107}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_res_a_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,342},{99,77}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,22},{99,77}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_res_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,109},{95,93}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{95,93}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_res_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,4},{99,99}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{99,99}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_res_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,628},{91,75}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{91,75}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_res_a_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,873},{103,103}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{103,103}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_res_a_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,738},{103,91}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{103,91}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_res_a_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,915},{105,103}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{105,103}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_res_a_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,538},{107,99}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{107,99}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_res_a_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,255},{79,77}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,25},{79,77}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_5.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e746b9780b01c800b3a2340945263ae9:1/1$</string>
            <key>textureFileName</key>
            <string>Common_5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
