<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{250,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,173}}</string>
                <key>sourceSize</key>
                <string>{250,173}</string>
            </dict>
            <key>Mail_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,260},{640,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,102}}</string>
                <key>sourceSize</key>
                <string>{640,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_9.pvr.ccz</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86026695804a6205c2b66234c012bc24:da5a345649af12b1f750ac6ef15d3b32:fdd6efd6abdb6d58d8a32380da10ad21$</string>
            <key>textureFileName</key>
            <string>Common_9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
