<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g007_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,4},{196,236}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,14},{196,236}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g008_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,516},{214,250}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{214,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g012_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,772},{244,242}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{244,242}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g015_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,260},{214,236}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{214,236}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g024_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,502},{206,234}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,16},{206,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g026_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,742},{174,228}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,22},{174,228}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g032_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,244},{182,230}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,20},{182,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g038_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,516},{202,250}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{202,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g041_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,260},{244,250}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{244,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g044_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,4},{220,234}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{220,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g045_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g046_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,772},{244,230}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,20},{244,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_307.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84fbdf70715db43d55fd7938c3e413b5:1/1$</string>
            <key>textureFileName</key>
            <string>Common_307.pvr.ccz</string>
        </dict>
    </dict>
</plist>
