<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>504_bigGoldRes.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,703},{136,80}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{136,80}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>Alliance-anniudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,307},{112,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,59}}</string>
                <key>sourceSize</key>
                <string>{112,59}</string>
            </dict>
            <key>Alliance-biaotizhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,453},{57,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,30}}</string>
                <key>sourceSize</key>
                <string>{57,30}</string>
            </dict>
            <key>Alliance-biaotou.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,453},{86,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,30}}</string>
                <key>sourceSize</key>
                <string>{86,30}</string>
            </dict>
            <key>Alliance-qizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,536},{124,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,338}}</string>
                <key>sourceSize</key>
                <string>{124,338}</string>
            </dict>
            <key>Alliance-zhuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,4},{45,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{45,371}}</string>
                <key>sourceSize</key>
                <string>{47,371}</string>
            </dict>
            <key>UI-lianmenglingdizhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,888},{118,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{118,45}}</string>
                <key>sourceSize</key>
                <string>{118,47}</string>
            </dict>
            <key>add_alliance_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,557},{442,451}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{442,451}}</string>
                <key>sourceSize</key>
                <string>{442,455}</string>
            </dict>
            <key>add_alliance_tubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,428},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>alliance_currentnum.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,140},{87,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,95}}</string>
                <key>sourceSize</key>
                <string>{89,95}</string>
            </dict>
            <key>alliance_totalforce.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,666},{90,88}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{90,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>city_gain_bar_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,489},{291,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,22}}</string>
                <key>sourceSize</key>
                <string>{291,22}</string>
            </dict>
            <key>city_gain_bar_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,453},{11,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,24}}</string>
                <key>sourceSize</key>
                <string>{11,24}</string>
            </dict>
            <key>city_gain_bar_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,453},{11,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,24}}</string>
                <key>sourceSize</key>
                <string>{11,24}</string>
            </dict>
            <key>city_gain_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,215},{315,152}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{315,152}}</string>
                <key>sourceSize</key>
                <string>{317,158}</string>
            </dict>
            <key>city_gain_txtbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,518},{329,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,32}}</string>
                <key>sourceSize</key>
                <string>{329,32}</string>
            </dict>
            <key>def_buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,703},{88,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>detail_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,4},{545,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,85}}</string>
                <key>sourceSize</key>
                <string>{545,85}</string>
            </dict>
            <key>formation_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,428},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>formation_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,428},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>formation_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,428},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>formation_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,428},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>formation_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,428},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>formation_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,372},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>formation_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,372},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>gather_buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,607},{92,90}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{92,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>lianmeng_di_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,4},{544,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,31}}</string>
                <key>sourceSize</key>
                <string>{544,31}</string>
            </dict>
            <key>lianmeng_di_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,4},{539,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,33}}</string>
                <key>sourceSize</key>
                <string>{539,33}</string>
            </dict>
            <key>lianmeng_di_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{16,547}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,547}}</string>
                <key>sourceSize</key>
                <string>{16,547}</string>
            </dict>
            <key>lianmeng_di_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,4},{508,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,33}}</string>
                <key>sourceSize</key>
                <string>{508,33}</string>
            </dict>
            <key>lianmeng_di_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,4},{535,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,26}}</string>
                <key>sourceSize</key>
                <string>{535,26}</string>
            </dict>
            <key>lianmeng_di_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,241},{163,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,125}}</string>
                <key>sourceSize</key>
                <string>{163,125}</string>
            </dict>
            <key>lianmeng_di_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,383},{95,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,78}}</string>
                <key>sourceSize</key>
                <string>{95,78}</string>
            </dict>
            <key>lianmeng_di_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,191},{256,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,61}}</string>
                <key>sourceSize</key>
                <string>{256,61}</string>
            </dict>
            <key>lianmeng_di_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,489},{23,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,60}}</string>
                <key>sourceSize</key>
                <string>{23,60}</string>
            </dict>
            <key>resource_buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,556},{94,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>storage_buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,654},{94,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{94,86}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>territory_bg_grass2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,307},{160,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>territory_bg_res.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,455},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>territory_bg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,215},{16,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,120}}</string>
                <key>sourceSize</key>
                <string>{16,120}</string>
            </dict>
            <key>territory_building_lv0.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,746},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_building_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,888},{134,130}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{134,130}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_coord_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1014},{100,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,1}}</string>
                <key>sourceSize</key>
                <string>{100,1}</string>
            </dict>
            <key>territory_renderBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,410},{39,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,120}}</string>
                <key>sourceSize</key>
                <string>{39,120}</string>
            </dict>
            <key>territory_resource_food.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,845},{136,80}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{136,80}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_resource_iron.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,467},{134,94}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,28},{134,94}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_resource_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,703},{136,84}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{136,84}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_resource_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,241},{136,102}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{136,102}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_tower0.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,55},{68,130}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,4},{68,130}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_warehouse0.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,4},{130,82}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{130,82}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>warehouse_brown.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,4},{297,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,280}}</string>
                <key>sourceSize</key>
                <string>{297,280}</string>
            </dict>
            <key>zhezhao_yaoyiyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,55},{300,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,154}}</string>
                <key>sourceSize</key>
                <string>{300,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_504.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c9784c0f3ed143195fcd58a848f5202:1/1$</string>
            <key>textureFileName</key>
            <string>Common_504.pvr.ccz</string>
        </dict>
    </dict>
</plist>
