<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50503.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,226},{79,81}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{79,81}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>603103.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,209},{81,81}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{81,81}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>604301.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,191},{69,55}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,32},{69,55}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>604403.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,396},{79,79}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{79,79}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>604404.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,311},{79,79}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{79,79}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>604405.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,195},{77,83}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,19},{77,83}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>604406.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,105},{90,84}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{90,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>604407.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,93},{92,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>604603.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,124},{79,85}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,17},{79,85}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>650306.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,398},{79,79}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{79,79}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>650403.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,4},{83,95}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{83,95}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>650404.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,4},{105,95}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{105,95}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>652101.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,311},{81,75}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,27},{81,75}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>652301.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,191},{79,83}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,19},{79,83}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>science_def_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,114},{106,112}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{106,112}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>science_mil_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,4},{114,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{114,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>science_mil_a_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{128,104}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{128,104}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_5.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5028b87cd67fd2178281941daa7b4b5:1/1$</string>
            <key>textureFileName</key>
            <string>Common_5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
