<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g015_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,379},{484,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,369}}</string>
                <key>sourceSize</key>
                <string>{484,369}</string>
            </dict>
            <key>g024_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,379},{484,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,369}}</string>
                <key>sourceSize</key>
                <string>{484,369}</string>
            </dict>
            <key>g026_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,4},{484,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,369}}</string>
                <key>sourceSize</key>
                <string>{484,369}</string>
            </dict>
            <key>nb_flagBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{304,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,331}}</string>
                <key>sourceSize</key>
                <string>{304,331}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>General_1.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:359f78d1cde260c6e4a89790b38d69ad:1/1$</string>
            <key>textureFileName</key>
            <string>General_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
