<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g032_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>g038_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,510},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>g041_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,4},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>g044_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,510},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>General_2.pvr.ccz</string>
            <key>size</key>
            <string>{1014,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4340483faaa3e62863953ad13a742b68:f59cc323ca9d24c411c296068ffcb0b9:06beb979737857ec6649d04b4dce005a$</string>
            <key>textureFileName</key>
            <string>General_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
