<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anima_bird_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,929},{42,33}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,703},{48,35}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,257},{56,35}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{56,35}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,553},{50,29}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,29}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,849},{44,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,894},{42,35}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{42,35}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,486},{50,29}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,29}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_bird_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,298},{54,29}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{54,29}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>anima_sea_monster_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,346},{107,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,69}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,494},{107,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{107,67}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,389},{107,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{107,67}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,535},{107,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{107,65}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,462},{107,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,67}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,421},{107,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,67}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,314},{107,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,69}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>anima_sea_monster_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,389},{107,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{107,67}}</string>
                <key>sourceSize</key>
                <string>{107,69}</string>
            </dict>
            <key>attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,170},{116,78}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{116,78}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,90},{118,74}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{118,74}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,151},{114,98}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{114,98}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,403},{106,76}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{106,76}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,653},{102,70}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{102,70}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,84},{132,72}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{132,72}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,88},{124,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{124,92}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,134},{116,82}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{116,82}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>castleWingLv_1_.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,507},{87,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,73}}</string>
                <key>sourceSize</key>
                <string>{87,73}</string>
            </dict>
            <key>castleWingLv_2_.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,87},{128,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,105}}</string>
                <key>sourceSize</key>
                <string>{128,105}</string>
            </dict>
            <key>hetong_attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,659},{48,63}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{48,63}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,417},{50,63}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{50,63}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,482},{52,65}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{52,65}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,198},{40,63}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{40,63}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,267},{40,49}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{40,49}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,862},{42,43}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{42,43}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,809},{46,51}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{46,51}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,703},{48,57}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{48,57}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_waiting_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,588},{48,65}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{48,65}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_waiting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,186},{46,65}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{46,65}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_waiting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,809},{44,63}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{44,63}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_waiting_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,862},{42,61}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{42,61}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_waiting_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,286},{44,63}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{44,63}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_waiting_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,758},{46,63}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{46,63}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_waiting_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,758},{46,63}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{46,63}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>hetong_waiting_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,642},{48,63}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{48,63}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>skeleton0_attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,597},{102,71}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{102,71}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,256},{108,69}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{108,69}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,369},{108,63}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{108,63}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,638},{72,59}}</string>
                <key>offset</key>
                <string>{-24,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{72,59}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,744},{70,59}}</string>
                <key>offset</key>
                <string>{-27,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{70,59}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,689},{70,63}}</string>
                <key>offset</key>
                <string>{-28,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,26},{70,63}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,790},{70,53}}</string>
                <key>offset</key>
                <string>{-28,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{70,53}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,729},{94,55}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{94,55}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,563},{100,69}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{100,69}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_waiting_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,4},{110,69}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{110,69}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_waiting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,292},{108,71}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{108,71}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_waiting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,416},{104,73}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{104,73}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_waiting_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,495},{100,77}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{100,77}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_waiting_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,606},{96,77}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{96,77}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_waiting_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,438},{100,77}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{100,77}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_waiting_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,606},{104,73}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{104,73}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton0_waiting_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,242},{108,69}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{108,69}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>skeleton1_attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,345},{108,66}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,23},{108,66}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,344},{108,66}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{108,66}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,286},{108,54}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,27},{108,54}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,578},{78,58}}</string>
                <key>offset</key>
                <string>{-32,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,45},{78,58}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,586},{76,62}}</string>
                <key>offset</key>
                <string>{-29,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,40},{76,62}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,674},{94,64}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,35},{94,64}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,685},{102,60}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,35},{102,60}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,538},{104,62}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{104,62}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,331},{108,66}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,23},{108,66}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_waiting_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,317},{108,66}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,23},{108,66}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_waiting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,462},{106,70}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,19},{106,70}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_waiting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,485},{104,72}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,18},{104,72}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_waiting_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,439},{102,74}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,18},{102,74}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_waiting_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,519},{102,72}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,20},{102,72}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_waiting_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,79},{110,66}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,26},{110,66}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_waiting_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,222},{114,64}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,26},{114,64}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>skeleton1_waiting_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,186},{112,64}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,25},{112,64}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>ttt_ditu_1_.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,64},{35,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,55}}</string>
                <key>sourceSize</key>
                <string>{35,55}</string>
            </dict>
            <key>ttt_ditu_2_.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,521},{86,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,93}}</string>
                <key>sourceSize</key>
                <string>{86,93}</string>
            </dict>
            <key>ttt_ditu_3_.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,521},{86,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,87}}</string>
                <key>sourceSize</key>
                <string>{86,89}</string>
            </dict>
            <key>ttt_ditu_4_.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,947},{43,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,69}}</string>
                <key>sourceSize</key>
                <string>{43,69}</string>
            </dict>
            <key>ttt_ditu_5_.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,866},{43,75}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,75}}</string>
                <key>sourceSize</key>
                <string>{43,79}</string>
            </dict>
            <key>ttt_ditu_6_.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,751},{91,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,105}}</string>
                <key>sourceSize</key>
                <string>{91,105}</string>
            </dict>
            <key>ttt_ditu_7_.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,413},{53,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,63}}</string>
                <key>sourceSize</key>
                <string>{53,63}</string>
            </dict>
            <key>ttt_ditu_8_.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,333},{53,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,74}}</string>
                <key>sourceSize</key>
                <string>{53,74}</string>
            </dict>
            <key>ttt_ditu_9_.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,614},{69,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{69,92}}</string>
                <key>sourceSize</key>
                <string>{69,94}</string>
            </dict>
            <key>ttt_yunduo_1_.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,94},{117,34}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{117,34}}</string>
                <key>sourceSize</key>
                <string>{119,40}</string>
            </dict>
            <key>ttt_yunduo_2_.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{196,54}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,54}}</string>
                <key>sourceSize</key>
                <string>{200,62}</string>
            </dict>
            <key>tttyunduo_3_.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,4},{160,77}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{160,77}}</string>
                <key>sourceSize</key>
                <string>{172,109}</string>
            </dict>
            <key>waiting_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,4},{132,78}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{132,78}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,4},{136,74}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{136,74}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,198},{122,82}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{122,82}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,4},{128,80}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{128,80}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,162},{124,74}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{124,74}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,355},{102,78}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{102,78}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,567},{104,80}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{104,80}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,255},{112,84}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{112,84}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,222},{118,86}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{118,86}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,417},{100,84}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{100,84}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,254},{108,84}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{108,84}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>waiting_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,4},{118,84}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{118,84}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>water_center_high_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,64},{154,152}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{154,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>World_5.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93feaf395822c2fcd0974429bf4f6457:1/1$</string>
            <key>textureFileName</key>
            <string>World_5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
